<form action="/start" method="post">
  <label for="player-amount">How Many Players?</label>
  <input type="text" name="player-amount" id="player-amount">
  <button type="submit" name="button">Play Game</button>
</form>
